use flake
watch_file default.nix
watch_file pyproject.toml
watch_file package.json
watch_file package-lock.json
watch_file flake.lock
watch_file js/widget.ts
watch_file js/widget.css
watch_file src/markmap_anywidget/__init__.py
